<nav class="navbar navbar-expand-lg main_menu">
  <div class="container">
  <a class="logo">Sky Dream <i class="fas fa-cloud"></i>
    <br/><span>Главный блог о самолетах <i class="fas fa-plane"></i></span></a>
        <a class="nav-link" (click)="onOpenModal(null, 'add')">Добавить пост <span class="sr-only">(current)</span></a>
  </div>
</nav>

<div class="container" id="main-container">
    <div *ngFor="let post of posts" class="col-md-12 main_content">
      <div class=" m-b-30">
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{post?.title}}</h5>
            <p class="m-0">{{post?.message}}</p>
          </div>
          <div class="col-12">
            <a href=""><img src="{{post?.imageUrl}}" width="100%" height="100%" alt="" class="img-fluid"></a>
          </div>
          <div class=" offset-10 col-md-2 ">
            <a (click)="onOpenModal(post, 'edit')"  class="icon_custom" data-placement="top" data-original-title="Edit"><i  class="fas fa-edit"></i> </a>
            <a (click)="onOpenModal(post, 'delete')" class="icon_custom" data-placement="top" data-original-title="Delete"><i class="fas fa-trash"></i></a>
          </div>
      </div>
    </div>



  <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostodalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addPostModalLabel">Добавить пост</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddPost(addForm)">
            <div class="form-group">
              <label for="title">Заголовок</label>
              <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Введите здесь свой заголовок" required>
            </div>
            <div class="form-group">
              <label for="message">Сообщение</label>
              <input type="email" ngModel name="message" class="form-control" id="message" placeholder="Ваше сообщение" required>
            </div>
            <div class="form-group">
              <label for="imageUrl">Изображние</label>
              <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Url" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-post-form" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Сохранить изменения</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updatePostModal" tabindex="-1" role="dialog" aria-labelledby="postEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updatePostModalLabel">Изменить пост {{editPost?.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="title">Заголовок</label>
              <input type="text" ngModel="{{editPost?.title}}" name="title" class="form-control" id="title" aria-describedby="emailHelp" placeholder="title">
            </div>
            <input type="hidden" ngModel="{{editPost?.id}}" name="id" class="form-control" id="id" placeholder="id">
            <div class="form-group">
              <label for="message">Описание</label>
              <input type="email" ngModel="{{editPost?.message}}" name="message" class="form-control" id="message" placeholder="Описание">
            </div>
            <div class="form-group">
              <label for="imageUrl">imageUrl</label>
              <input type="text" ngModel="{{editPost?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Url">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Закрыть</button>
              <button (click)="onUpdatePost(editForm.value)" data-dismiss="modal" class="btn btn-primary">Сохранить изменения</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Удаление поста</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Вы действительно хотите удалить {{deletePost?.title}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
            <button (click)="onDeletePost(deletePost?.id)" class="btn btn-danger" data-dismiss="modal">Да</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

